<html>
<head>
	<title>Ramin Sedighi</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section class="landing-background">
		<div class="container">
	<section class="text-container">
		<header>
			<h1>Crave</h1>
			<p id="new">Only the restaurants you should care about </p>
			<nav>
				<h3> Never get stuck on where to eat - when your friends discover new restaurants, so do you. Create, organize and share your list of restaurants that you want try and recommend your favorite restaurants to your friends.</h3>
			</nav>
										<%= render 'messages/message' %>

		</header>
		</div>
	</section> <!-- text container -->

		<!-- Footer -->
		<footer id="footer">
			<ul>
			<h1 class="copyright">&copy; Craves.co</h1>
				<li><a href="mailto:support@craves.co?Subject=Crave%20email" class="fa fa-envelope-o"></a></li>
			</ul>
			<span>
		</footer>

	</div>
</div>
</section> <!-- background img -->
</body>
</html>
