<html>
<head>
	<title>Ramin Sedighi</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<section class="landing-background">
	<section class="text-container">
		<header>
			<h1>Crave</h1>
			<p id="new">Only the restaurants you should care about </p>
			<nav>
				<ul>
					<li><a href="http://twitter.com/ramin_sed" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<!-- <li><a href="#" class="fa fa-dribbble"><span>Dribbble</span></a></li> -->
					<li><a href="mailto:ramin@sedighi.com?Subject=Portfolio%20email" class="fa fa-envelope-o"><span>Email</span></a></li>
				</ul>
			</nav>
		</header>
	</section> <!-- text container -->

		<!-- Footer -->
		<footer id="footer">
			<h1 class="copyright">&copy; Craves.co</h1>
		</footer>

	</div>
</div>
</section> <!-- background img -->
</body>
</html>
